.gallery {
  padding: 50px 0 0 0;
}

.gallery__title-wrapper {
  position: relative;
  padding: 0;
  margin: 0 auto 26px;
  width: 95%;
  max-width: 1200px;

  @include vp-1199 {
    margin-bottom: 26px;
    width: 90%;
    max-width: 1109px;
    min-width: 678px;
  }

  @include vp-767 {
    margin-bottom: 18px;
    max-width: 737px;
    min-width: 290px;
  }

  h2 {
    color: rgba(45, 56, 63, 0.03);
    font-size: 55px;
    font-weight: $font-weight-extrabold;
    line-height: 100%;
    padding: 0;
    margin: 0;

    @include vp-1199 {
      font-size: 40px;
    }

    @include vp-767 {
      font-size: 26px;
    }
  }

  span {
    position: absolute;
    left: 0;
    bottom: 5px;
    font-size: 35px;
    line-height: 100%;
    font-weight: $font-weight-extrabold;

    @include vp-1199 {
      font-size: 25px;
      bottom: 3px;
    }

    @include vp-767 {
      font-size: 22px;
      bottom: 1px;
    }
  }
}

.gallery__description-arrows-wrapper {
  display: flex;
  width: 95%;
  max-width: 1200px;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 45px;

  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 150%;
    width: 60%;
    text-align: start;
  }
}

.gallery__swiper {
  max-width: 1440px;
  height: 449px;
  margin: 0 auto;
}

.gallery__slide {
  width: auto;
  margin-right: 5px;
  height: calc((100% - 5px) * 0.4);
}

.gallery__slide:nth-child(3n+1) {
  height: 100%;
  grid-row: 1 / -1;
}

.gallery__slide:nth-child(3n) {
  height: calc((100% - 5px) * 0.6);
}

.gallery__slide:nth-child(3n + 2) {
  margin-bottom: 5px;
}

.gallery__image-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
